.navigation {
  display: flex;
  margin-left: 93px;
  align-items: center;

  &__header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
  }
  &__item {
    display: flex;
    align-content: center;
  }
  &__header &__item {
    margin-right: 50px;
  }
  &__item:last-child {
    margin-right: 0;
  }
}
.contact {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  align-items: center;

  &__tel {
    display: flex;
    align-items: center;
    color: $main-text-color;
  }
  &__icon-phone {
    fill: currentColor;
    margin-right: 10px;
    align-self: center;
  }
  &__icon-letter {
    fill: currentColor;
    margin-right: 10px;
    align-items: center;
  }
  &__mail {
    &:hover {
      color: $blue-color;
    }
    &:focus {
      color: $blue-color;
    }
  }
  & &__item + &__item {
    margin-left: 50px;
  }
  &__item {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
  }
}
