.service-order {
  background: var(--grey-color);
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/img-staff.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.banner {
  &__slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $top-line-color;
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__button-order {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
    color: $top-line-color;
    background: $blue-color;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 10px 32px;
    &:hover,
    &:focus {
      color: $top-line-color;
      background-color: $button-color;
      transition: $timing-function;
    }
  }
}
.shadow__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity $timing-function, visibility var$timing-function;
}
.shadow__backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  transition: transform $timing-function;
  background-color: $top-line-color;
  border-radius: 4px;
  &__review {
    margin-bottom: 12px;
    font-weight: 700;
    width: 448px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: $studio-top-color;
  }
  &__table {
    width: 100%;
    padding: 40px;
  }
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    transition: border-color $timing-function;
    margin-bottom: 10px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.form-comment {
  margin-bottom: 20px;
}

.form-div:focus-within .input-form,
.form-div:hover .input-form {
  border: 1px solid $blue-color;
}
.form-div:focus-within .table-icon,
.form-div:hover .table-icon {
  fill: $blue-color;
}
.input-form {
  position: relative;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--timing-function);
}
.label-form {
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}
textarea {
  resize: none;
  margin-top: 4px;
}
.input-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color var(--timing-function);
}
.form-div:focus-within .input-comment,
.form-div:hover .input-comment {
  border: 1px solid var(--blue-color);
}
.form-icon {
  margin-top: 4px;
  margin-bottom: 4px;
}
.table-icon {
  position: absolute;
  display: inline-block;
  top: 60%;
  left: 15px;
  fill: var(--dark-grey-color);
  transition: fill var(--timing-function);
  transform: translateY(-50%);
}
.icon-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--dark-grey-color);
  background-color: var(--top-line-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: transform var(--timing-function);
}
.policy {
  font-size: 14px;
  line-height: 1.71;
  margin-left: 5px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: var(--blue-color);
  text-underline-offset: 0.25em;
}

.input-checkbox:checked + .icon-check {
  background-color: var(--blue-color);
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
  margin-right: 7px;
  border-radius: 2px;
  background-origin: border-box;
  border-color: var(--blue-color);
}
.label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button-send {
  display: block;
  margin: 30px auto 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: var(--button-color);
  color: var(--top-line-color);
  border-radius: 4px;
  border: none;
  border-color: var(--blue-color);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close {
  transition: fill var(--timing-function);
  fill: #000000;
}
.close:hover {
  fill: var(--blue-color);
}
